# OS
.DS_Store
Thumbs.db

# Editor
.idea/
.vscode/
*.swp

# Python
__pycache__/
*.py[cod]

# Node
node_modules/

# Compiled binaries
*.exe
*.out
*.class

#latex
*.aux
*.log
*.out
*.toc
*.gz
*.bbl
*.blg
*.synctex.gz
*.fls
*.fdb_latexmk
*.nav
*.snm
*.vrb
*.xmpi
_build/
